# Ignorar arquivos compilados, de build e temporários
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Ignorar arquivos e pastas de IDEs
/.idea/
/.settings/
/.classpath
/.project
/.vscode/

# Ignorar arquivos de build e gerados
/target/
output.go

# Manter apenas arquivos essenciais: src/, pom.xml, README.md
# (Os demais arquivos devem ser ignorados por padrão)
